<div class="container page-wrapper authentication-page">
  <div class="col-xs-6">
    <div class="signin">
      <h2>Sign In</h2>
      <label for="email_signin">Email</label>
      <input type="text" name="email_signin" class="form-control" ng-model="email_signin">
      <label for="password_signin">Password</label>
      <input type="password" name="email_password" class="form-control" ng-model="password_signin">
      <div class="button-container">
        <button id="login" ng-click="processLogin()">Log In</button>
        <a href="/#/forgot">Forgot Password?</a>
      </div>
    </div>
  </div>
  <div class="or"><p>or...</p></div>
  <div class="divider"></div>
  <div class="col-xs-6">
    <div class="signup">
      <h2>Sign Up</h2>
      <label for="email_signup">Enter your email address:</label>
      <input type="text" name="email_signup" class="form-control" ng-model="email_signup">
      <label for="password_signup">Enter a password:</label>
      <input type="password" name="password_signup" class="form-control" ng-model="password_signup">
      <label for="password_signup_confirmation">Confirm password:</label>
      <input type="password" name="password_signup_confirmation" class="form-control" ng-model="password_signup_confirmation">
      <div class="button-container">
        <button id="register" ng-click="processSignup()">Register</button>
      </div>
    </div>
  </div>
</div>